<%- include('includes/header') %>


    <body>
        <div>
            <div>Product Page</div>
            <div>
                <%=member.memberNick%>
                    <%hello.map(function(value,key){ %>
                        <p>
                            <%= value.productName %>
                                <%= value.productSize %>
                        </p>

                        <%})%>
            </div>



        </div>

    </body>
    <%- include('includes/footer') %>